<footer class="page-footer">
    <div class="page-footer__inner center-block">
        <div class="footer-block pull-left">
            <div class="footer-block__copyright vcenter">
                <p>
                    &copy; 2015 Политехнический музей <br />
                    Использование материалов сайта <br />
                    Соглашение с пользователем
                </p>
            </div>
        </div>
        <div class="footer-block pull-left vcenter">
            <div class="footer-block__full-version">
                <a href="#">Версия сайта<br>для взрослых</a>
            </div>
        </div>
        <div class="footer-block pull-right vcenter">
            <div class="footer-block__social">
                <a class="footer-block__social-item icon-fb pull-left" href="#">Facebook</a>
                <a class="footer-block__social-item icon-vk pull-left" href="#">Вконтакте</a>
            </div>
        </div>
    </div>
</footer>