<div class="home-grid">
    <div class="home-grid__row row">
        <div class="col-md-3 col-xs-3 col">
            <div class="home-grid__item home-grid__item-future">
                <a class="home-grid__item-link" href="#"></a>
                <div class="home-grid__item-flipper">
                    <div class="home-grid__item-front">
                        <h3 class="home-grid__item-heading">будущее</h3>
                    </div>
                    <div class="home-grid__item-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, tenetur?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 col">
            <div class="home-grid__item home-grid__item-video">
                <a class="home-grid__item-link" href="video.html"></a>
                <div class="home-grid__item-flipper">
                    <div class="home-grid__item-front">
                        <h3 class="home-grid__item-heading">видео</h3>
                    </div>
                    <div class="home-grid__item-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, tenetur?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 col">
            <div class="home-grid__item home-grid__item-games">
                <a class="home-grid__item-link" href="#"></a>
                <div class="home-grid__item-flipper">
                    <div class="home-grid__item-front">
                        <h3 class="home-grid__item-heading">игры/тесты</h3>
                    </div>
                    <div class="home-grid__item-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, tenetur?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 col">
            <div class="home-grid__item home-grid__item-promo">
                <a class="home-grid__item-link" href="#"></a>
                <div class="home-grid__item-flipper">
                    <div class="home-grid__item-front">
                        <div class="vcenter">
                            <h3 class="home-grid__item-heading">примерное текстовое поле для блока промо</h3>
                        </div>
                        <div class="promo-figure promo-circle"></div>
                    </div>
                    <div class="home-grid__item-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, tenetur?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-grid__row row">
        <div class="col-md-3 col-xs-3 col">
            <div class="home-grid__item home-grid__item-experiments">
                <a class="home-grid__item-link" href="#"></a>
                <div class="home-grid__item-flipper">
                    <div class="home-grid__item-front">
                        <h3 class="home-grid__item-heading">эксперименты</h3>
                    </div>
                    <div class="home-grid__item-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, tenetur?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 col">
            <div class="home-grid__item home-grid__item-dinosaurs">
                <a class="home-grid__item-link" href="#"></a>
                <div class="home-grid__item-flipper">
                    <div class="home-grid__item-front">
                        <h3 class="home-grid__item-heading">динозавры</h3>
                    </div>
                    <div class="home-grid__item-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, tenetur?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 col">
            <div class="home-grid__item home-grid__item-science">
                <a class="home-grid__item-link" href="#"></a>
                <div class="home-grid__item-flipper">
                    <div class="home-grid__item-front">
                        <h3 class="home-grid__item-heading">наука</h3>
                    </div>
                    <div class="home-grid__item-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, tenetur?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 col">
            <div class="home-grid__item home-grid__item-gadget">
                <a class="home-grid__item-link" href="#"></a>
                <div class="home-grid__item-flipper">
                    <div class="home-grid__item-front">
                        <h3 class="home-grid__item-heading">техника<br>гаджеты</h3>
                    </div>
                    <div class="home-grid__item-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, tenetur?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-grid__row row">
        <div class="col-md-3 col-xs-3 col">
            <div class="home-grid__item home-grid__item-museum">
                <a class="home-grid__item-link" href="#"></a>
                <div class="home-grid__item-flipper">
                    <div class="home-grid__item-front">
                        <h3 class="home-grid__item-heading">мой музей</h3>
                    </div>
                    <div class="home-grid__item-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, tenetur?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 col">
            <div class="home-grid__item home-grid__item-human">
                <a class="home-grid__item-link" href="#"></a>
                <div class="home-grid__item-flipper">
                    <div class="home-grid__item-front">
                        <h3 class="home-grid__item-heading">человек</h3>
                    </div>
                    <div class="home-grid__item-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, tenetur?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 col">
            <div class="home-grid__item home-grid__item-space">
                <a class="home-grid__item-link" href="#"></a>
                <div class="home-grid__item-flipper">
                    <div class="home-grid__item-front">
                        <h3 class="home-grid__item-heading">космос</h3>
                    </div>
                    <div class="home-grid__item-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, tenetur?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xs-3 col">
            <div class="home-grid__item home-grid__item-robot">
                <a class="home-grid__item-link" href="#"></a>
                <div class="home-grid__item-flipper">
                    <div class="home-grid__item-front">
                        <h3 class="home-grid__item-heading">вопрос &ndash;<br>ответ</h3>
                    </div>
                    <div class="home-grid__item-back">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, tenetur?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>