
<nav class="slide-menu">
    <ul class="slide-menu__container">
        <li class="slide-menu__item slide-menu__item-home">
            <a class="slide-menu__item-link" href="index.html">Главная</a>
        </li>
        <li class="slide-menu__item slide-menu__item-qa">
            <a class="slide-menu__item-link" href="#">Вопрос &ndash;<br>Ответ</a>
        </li>
        <li class="slide-menu__item slide-menu__item-museum">
            <a class="slide-menu__item-link" href="#">Мой музей</a>
        </li>
        <li class="slide-menu__item slide-menu__item-video">
            <a class="slide-menu__item-link" href="video.html">Видео</a>
        </li>
        <li class="slide-menu__item slide-menu__item-experiments">
            <a class="slide-menu__item-link" href="#">Эксперименты</a>
        </li>
        <li class="slide-menu__item slide-menu__item-games">
            <a class="slide-menu__item-link" href="#">Игры/Тесты</a>
        </li>
    </ul>
</nav>