/*
* video.scss
*/

.video-row:not(:last-child) {
  margin-bottom: 8px;
}

.video-item {
  background-color: #e1e1e1;
  background-image: url(#{$iconPath}/play_video.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.col-md-2 {
  .video-item {
    height: 210px;
  }
}

.col-md-3,
.col-md-6 {
  .video-item {
    height: 315px;
  }
}